[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
	ignore = dirty
	shallow = true
[submodule "lib/stdlib/pcre2"]
	path = lib/external/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
	ignore = dirty
	shallow = true
[submodule "lib/external/libarchive"]
	path = lib/external/libarchive
	url = https://github.com/libarchive/libarchive
