[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
	ignore = untracked
[submodule "lib/stdlib/pcre2"]
	path = lib/stdlib/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
	ignore = untracked
